@import './base.css';

#app {
  max-width: 1600px;
  margin: 0 auto;
  padding: 1rem;
  font-weight: normal;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.3s;
  padding: 3px;
  border-radius: 2px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  #app {
    width: 100%;
    padding: 1rem 2rem;
  }
}
